* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    padding: 0;
    font-family: 'Spartan', sans-serif;
}

header{
    background-color: #f1f1f1;
    height: 60px;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;

    
        

        #text-google{
            font-size: 27px;
            font-weight: 600;
            letter-spacing: -2px;
            margin-left: 15px;
            width: fit-content;
            // display: inline-block;

            a{
                text-decoration: none;
            }

            .g{
                color: #4285F4;
            }
            .o{
                color: #DB4437;
            }
            .o2{
                color: #F4B400;
            }
            .l{
                color: #0F9D58;
            }
            #e{
                transform: rotate(-20deg);
                display: inline-block;
            }
        
        }
         div{
            // display: inline-block;
            width: fit-content;
            // margin-left: 1000px;
        }

        .link-btn{
            font-weight: 400;
            margin-right: 20px;
            margin-top: 10px;
            color: black;
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
            text-decoration: none;

            &:hover{
                cursor: pointer;
            }
        }
     
}

.adv-search-text{
    height: 75px;
    padding-top: 28px;
    padding-left: 40px;
    font-size: 19px;
    letter-spacing: -1px;
    color: #DB4437;
    font-weight: 600;
}

hr{

    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

}

section{
    padding-left: 50px;
    padding-top: 50px;
    position: relative;
     

    .font-n{
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    margin-bottom: 30px;
    }

    .txt-fld{
        margin: 40px 0;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;

        label{
            padding-top: 8px;
        }

        .input-cls{
            width: 600px;
            height: 35px;
            position: absolute;
            left: 220px; 
            border: 1px solid lightgrey;
            border-top: 1px solid rgb(197, 193, 193);
            outline: #4285F4;
            padding-left: 15px;

            &:focus{
                border: 1px solid #4285F4;
                box-shadow:inset 0 0 2px  #4285F4;
            }
           
        }
    }

    .for-flex{
        margin: 40px 0;
        display: flex;

        .btn-div{
            width: 600px;
            height: 35px;
            position: absolute;
            left: 220px;

            .submit-adv{
                padding: 10px 20px;
                float: right;
                font-weight: 600;
                border: 1px solid rgba(66, 65, 65, 0.438);
                background-color: #4d90fe;
                color: white;
                border-radius: 3px;
                outline: none;

                    &:hover{
                        background-color: darken($color: #4d90fe, $amount: 5%);
                        cursor: pointer;
                        border: 1px solid rgba(66, 65, 65, 0.438);
                    }
            }
        }
    }

}

@media (max-width: 1240px) {
    section .txt-fld .input-cls{
        max-width: 50%;
    }
    section .for-flex .btn-div{
        max-width: 50%;
    }
}
